<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="p2j.evolv.com.p2j_v2">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/p2j"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/p2j"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".services.FileConversionService"></service>

        <activity android:name=".screens.P2J"></activity>
        <activity
            android:name=".screens.Splashscreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/p2j_title"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>